In [1]:
# Importing pandas
import pandas as pd

In [4]:
# Setting up dataframe
file = 'Data/london_weather.csv'
df = pd.read_csv(file)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

1. Convert the date column to datetime dtype. Double-check the result. Is it what you expected? If not, be sure to correct it by entering the appropriate format!

In [5]:
# We can run a datetime method for the date column to see results
df['datetime'] = pd.to_datetime(df['date'])
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
 10  datetime          15341 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 1.3 MB

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,datetime
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,1970-01-01 00:00:00.019790101
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,1970-01-01 00:00:00.019790102
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,1970-01-01 00:00:00.019790103

In [6]:
# We need to clear up the datetime entries
# Let's use a format code to make datetime presentable
fmt = "%B %d, %Y"
df.loc[0,'datetime'].strftime(fmt)

'January 01, 1970'

In [8]:
# Better. Now we will define a new column with clean format
df['datetime_fmt'] = df['datetime'].dt.strftime(fmt)
df['datetime_fmt'].head()

0    January 01, 1970
1    January 01, 1970
2    January 01, 1970
3    January 01, 1970
4    January 01, 1970
Name: datetime_fmt, dtype: object

In [11]:
# This isn't displaying proper order
df['datetime'] = pd.to_datetime(df['date'], format='%Y%m%d')
df['datetime'].head()

0   1979-01-01
1   1979-01-02
2   1979-01-03
3   1979-01-04
4   1979-01-05
Name: datetime, dtype: datetime64[ns]

In [12]:
# Setting index as datetime
df = df.set_index('datetime')
df = df.drop(columns = ['datetime_fmt','date'])
df.head()

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
datetime,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

In [13]:
### Select only from years 2000 onward.
### We also only want the following columns: precipitation, mean_temp, min_temp, max_temp, snow_depth
df = df.loc['2000-01-01':]
df = df.drop(columns = ['cloud_cover', 'sunshine', 'global_radiation', 'pressure'])
df.head()

            max_temp  mean_temp  min_temp  precipitation  snow_depth
datetime
2000-01-01      10.8        7.0       4.9            0.0         0.0
2000-01-02      11.5        7.9       5.0            0.2         0.0
2000-01-03       9.5        9.4       7.2            6.0         0.0
2000-01-04      11.0        7.0       4.4            0.2         0.0
2000-01-05      10.8        6.4       1.9            0.8         0.0

### What is the lowest temperature of {max temp} degrees occurred on {date as "MonthName 2-digit-day, 4-digit year}?

### Which was a {day of the week}?

In [15]:
# defining all terms
min_temp = df['max_temp'].min()
lowest_high = df['max_temp'].idxmin()
lowest_high

Timestamp('2018-02-27 00:00:00')

In [16]:
date = lowest_high.strftime(fmt)
date

'February 27, 2018'

In [18]:
print(f'The lowest temperature of {min_temp} degrees occurred on {date}, which was a {lowest_high.day_name()}.')

The lowest temperature of -1.2 degrees occurred on February 27, 2018, which was a Tuesday.